<ul class="list-group">
  <li (click)="selectCategory()" 
      [class.active]="displayAll"
      class="list-group-item d-flex justify-content-between"> 
      All Categories     
    </li>
    <li href="#" (click)="selectCategory(category)" 
    class="list-group-item d-flex justify-content-between align-items-center " 
    [class.active]="!displayAll && selectedCategory.id==category.id"
    *ngFor="let category of categories">
      {{category.name | titlecase}}
      <span class="badge bg-dark rounded-pill">{{category.articles_count}}</span>
    </li>
    
  </ul>
