<!-- TODO CSS işlemleri css sayfasına alınmalı -->

<div *ngIf="article else no_article">
    <div class="card" >
        <img src="assets/pictures/{{article.imageUrl}}" height="400" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text" style="font-size: 2rem; font-weight:bold">{{article.title}}</p>
          <p class="card-text">{{article.detail}}</p>
          
        </div>
      </div>
</div>
<ng-template #no_article>
    <div class="alert alert-warning">
      Herhangi bir makale bulunamadı
    </div>
  
  </ng-template>

