<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center active">
      Angular
      <span class="badge bg-dark rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      C#
      <span class="badge bg-dark rounded-pill">5</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
     Flutter
      <span class="badge bg-dark rounded-pill">3</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Sql
        <span class="badge bg-dark rounded-pill">1</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Others
        <span class="badge bg-dark rounded-pill">3</span>
      </li>
  </ul>