<!-- TODO!!! text truncate yapılabilir tanıtım yazısını kısaltmak için -->
<!-- Eğer farklı bir template kullanmak veya denemek istiyorsak onuda #articleList2
olarak tanımlayıp çağırabiliriz. Eskisini silmemize gerek yok. Bu template 
uygulamada başka yerlerde de çağırılabilir.  -->

<!-- Üçüncü bir template tanımlanıp bu template'e dışarıdan veri gönderilebilir
Bu template gönderilen veri bu template içinde kullanılabilir. 24. Video 14.00 da açıklaması var.  -->
<div class="alert alert-danger" *ngIf="error">
Bilinmeyen bir hata oluştu.
</div>

<div *ngIf="articles.length>0; else no_articles">

  <div class="alert alert-success">
    {{articles.length}} adet makale bulundu.
  </div>
  <div class="mb-3">
    <input type="text" class="form-control" [(ngModel)]="filterText" placeholder="Search...">
  </div>

  <ng-template [ngTemplateOutlet]="articleList1"></ng-template>
  
  

</div>

<ng-template #no_articles>
  <div class="alert alert-warning">
    Herhangi bir makale bulunamadı
  </div>

</ng-template>

<ng-template #articleList1>
  <div class="card mb-3" *ngFor="let article of articles | articleFilter:filterText">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/pictures/{{article.imageUrl}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{article.title}}</h5>
          <p class="card-text">{{article.description}}</p>
          <p class="card-text"><small class="text-muted">Issue Date: {{article.issueDate}}</small></p>
          <div>
            <button type="button" class="btn btn-dark">Details</button>
            <!-- cathces article and sends to the ts -->
            <button (click)="addToFav($event,article)" type="button" class="btn btn-primary ms-1">Add to Fav</button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</ng-template>